<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="logfile" xsi:type="File" fileName="PovertySail.Console.Log" layout="${longdate} ${message} ${exception:format=tostring}" />
    <target xsi:type="ColoredConsole" name="coloredconsole" layout="${longdate} ${message} ${exception:format=tostring}">
    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="logfile" />
    <logger name="*" minlevel="Debug" writeTo="coloredconsole">
      <filters>
        <whenNotContains  layout="${longdate} ${message} ${exception:format=tostring}" substring="HMC5883" action="Ignore " ignoreCase="True"/>
      </filters>
    </logger>
  </rules>
</nlog>