<footer>
    <div class="footer navbar-inverse text-center">
      <div class="container">
          <div class="row">
              <div class="col-lg-10 col-lg-offset-1 centered">
                &copy; Copyright {{@blog.title}} &bull; powered by Ghost &bull; <a href="https://github.com/fabienwang/Ghost-Flat"><span class="octicon octicon-mark-github"></span> Ghost-Flat</a> theme
              </div>
          </div>
      </div>
  </div>
</footer>
