obj
bin
deploy
deploy/*
Release/*
_ReSharper.*
*.csproj.user
*.resharper.user
*.resharper
*.suo
*.cache
connections.config
Connections.config
~$*
*.user
*.ReSharper
localSettings.config
Debug
Debug/*
Log/*
*.log
