
[submodule "src/lib/PebbleSharp"]
	path = src/lib/PebbleSharp
	url = https://github.com/brookpatten/PebbleSharp.git
[submodule "src/lib/Mono.Linux.I2C"]
	path = src/lib/Mono.Linux.I2C
	url = https://github.com/brookpatten/Mono.Linux.I2C.git
[submodule "src/MrGibbs.Pebble/Pebble"]
	path = src/MrGibbs.Pebble/Pebble
	url = https://github.com/brookpatten/MrGibbs-Pebble.git
[submodule "src/MrGibbs.OnboardWebUI/Web"]
	path = src/MrGibbs.OnboardWebUI/Web
	url = https://github.com/brookpatten/vue-admin.git
	branch = onboard
