<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="logfile" xsi:type="File" fileName="Gibbs.Log" layout="${longdate} ${message} ${exception:format=tostring}" />
    <target xsi:type="ColoredConsole" name="coloredconsole" layout="${longdate} ${message} ${exception:format=tostring}">
    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="logfile" />
    <logger name="*" minlevel="Info" writeTo="coloredconsole"></logger>
  </rules>
</nlog>