<!--[if lt IE 10]>
    <div class="browser-overlay">
      <h1><a href="{{@blog.url}}">{{@blog.title}}</a></h1>
      <p class="browserupgrade">Hey there, it looks like you're using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    </div>
<![endif]-->
